# Hugo
public/
resources/
resources/_gen/
.hugo_build.lock
go.sum
hugo_stats.json

# Node
node_modules/
package-lock.json
.pnpm-store/

# Logs & caches
*.log
*.tmp
*.cache

# Env & local config
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo
*~
